<mat-toolbar class="top-toolbar">
  <div id="brand" routerLink="/">
    <div id="brand-image"></div>
    <h1>Where am I?</h1>
  </div>
  <span class="spacer"></span>
  <div *ngIf="!user && !error">
    <button mat-raised-button color="primary" (click)="login()">Login</button>
  </div>
  <div *ngIf="user && !error" id="top-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <span>{{user.name}}</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>person_outline</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>